# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.spv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
*.exe
*.out
*.app
FrameTech-Debug
FrameTech-Debug.dSYM/
out/build/

# ImGui
imgui.ini
.vs/CMake Overview
.vs/cmake.db
.vs/FrameTech/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
extern/vma/build/CMakeCache.txt
extern/vma/build/CMakeFiles/3.25.2/CMakeSystem.cmake
extern/vma/build/CMakeFiles/cmake.check_cache
extern/vma/build/CMakeFiles/CMakeOutput.log
